*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}
body{}
.container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header{background-color: #e3e3e347;}
.logo{
    width: 20%;
    flex: 0 1 auto;
    
}
.logo a{}
.logo a img{ 
    width: 50px;
}

nav{ width: 80%;
flex:0 1 auto ;
}
nav ul{ 
display: flex;
flex-wrap: wrap;
justify-content: flex-end;

}
nav ul li { list-style: none;}
nav ul li a{ color: black;
font-size: 20px;
text-decoration: none;
padding: 15px;

}
section{
    height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

section .container{
    height: 100%;
    /* align-items: flex-start; */
    padding-top: 500px;
    flex-direction: column;
    padding-right: 700px;
}

.yellow{
     background-image: url(../images/apparel-1850804__340.jpg);

}
.green{
    background-image: url(../images/downtown-4045036__340.jpg);

}
.blue{
     background-image: url(../images/escalator-283448__340.jpg);
   
   
}
.white{
    background-image: url(../images/jars-1853439__340.jpg);

}
section h2{
    background-color: #fff;
    padding: 15px 40px;
    font-weight: 600;
    border-radius: 10px;
}
section a{
    font-size: 26px;
    text-decoration: none;
    background-color: #007effde;
    color: black;
    padding: 10px 40px;
    border-radius: 8px;
    margin-top: 16px;
}